page-educational {
    .c{
background-color: black;

    }

    h3{
        color: orange;
    }
.io{
    background-color: orange;
    color: black;  
}
.ios, .md {
 
    page-home {
 
        ion-slide {
            align-items: flex-start;
        }
 
        ion-item {
            margin-bottom: 5px;
            font-size: 1.2em;
            background-color: map-get($colors, primary);
        }
 
        flash-card {
            color: #000;
 
            img {
                width: auto;
                height: auto;
    
            }
        }
 
        .start-slide {
            justify-content: center;
            align-items: center;
 
            button {
                font-size: 1.3em;
                font-weight: bold;
            }
        }
 
    }
 
}
.t{
    background-color:orange; 
}
.btn{
    color: rgb(7, 7, 7);
    background-color:orange;
    margin-left: 40%; 
}
}
