page-home {
.btn{
 margin-left: 35%;
 background-color: rgb(255, 136, 0);
 margin-top:20%;
}
.h{
    padding-left: 12%;
    color: rgb(255, 136, 0);
}
.bk{
    background-color: black;
}
.t{
    background-color: rgb(255, 136, 0); 
}
}
